@import "tailwindcss";

@font-face {
  font-family: Apple_Garamond;
  font-style: normal;
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-display: swap;
  src: url("../src/fonts/AppleGaramond.ttf") format("ttf");
}